<div class="panels">
  <div class="panel panel1">
    <p>Read about my work experience</p>
    <p>Work</p>
    <p><%= link_to "Works", works_path %></p>
  </div>
  <div class="panel panel2">
    <p>Read my recent post</p>
    <p>Blog</p>
    <p><%= link_to "Posts", posts_path %></p>
  </div>
  <div class="panel panel3">
    <p>Learn a little bit more about</p>
    <p>Me</p>
    <p><a href="#">Here</a></p>
  </div>
  <div class="panel panel4">
    <p>Check out my Portfolio</p>
    <p>Dev</p>
    <p><a href="#">Here</a></p>
  </div>
  <div class="panel panel5">
    <p>My weird interests</p>
    <p>More!</p>
    <p><a href="#">Here</a></p>
  </div>
</div>
